.part1 {
   background-color: aquamarine;
   width: 100%;
}

.myswitch {
    margin-left: 2%;
}
.col {
    border-bottom:"1px solid black";
    color:aquamarine
}

th {
    text-align: left;
  }

.rowOne {
    color:blue
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .half {
    background-color: #1230F0;
    width: 100%;
    height: 100%;
  }